.pic_retbox {
  width: 260px;
  height: 312px;
  padding: 20px 30px;
  position: absolute;
  left: 496px;
  top: 80px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  display: block;
}
.pic_retbox .upload_top {
  height: 34px;
}
.pic_retbox .upload_top .upload_tit {
  height: 34px;
  line-height: 34px;
  font-size: 30px;
  font-weight: bold;
}
.pic_retbox .upload_top .file {
  position: relative;
  display: inline-block;
  background: #D0EEFF;
  border: 1px solid #d3daeb;
  padding: 0 16px;
  margin-left: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #5b74b4;
  text-indent: 0;
  line-height: 24px;
}
.pic_retbox .upload_info {
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #c2c4c6;
  text-align: center;
  margin-top: 20px;
}
.pic_retbox .default_pic {
  display: block;
  width: 108px;
  height: 148px;
  border: 1px solid #d3d3d5;
  margin: 5px auto 0;
}
.pic_retbox .uploadimg{
  display: block;
  width: 98px;
  height: 26px;
  border: 1px solid #d3d3d5;
  margin: 15px auto;
  background-color: #4f6aaf;
  color: #fff;
  cursor: pointer;
}
.pic_retbox .btns {
  margin-top: 20px;
  height: 24px;
  text-align: center;
}
.pic_retbox .btns button {
  cursor: pointer;
  width: 98px;
  height: 22px;
  font-size: 12px;
}
.pic_retbox .btns .clobtn {
  border: 1px solid #d3daeb;
  background-color: #ffffff;
  color: #4f6aaf;
}
.pic_retbox .btns .subbtn {
  border: 1px solid #4f6aaf;
  background-color: #4f6aaf;
  color: #fff;
}
.file .upload_btn {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file .upload_btn:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
.close_icon {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../svg/close.svg) no-repeat center;
  position: absolute;
  top: 16px;
  right: 17px;
  cursor: pointer;
}
.upload_err {
  width: 198px;
  height: 313px;
  position: absolute;
  left: 525px;
  top: 80px;
  border: 1px solid #e3e3e3;
  padding: 20px 30px;
  background-color: #fff;
}
.upload_err p {
  height: 30px;
  line-height: 30px;
  font-size: 26px;
  font-weight: bold;
  color: #894747;
}
.upload_err input {
  display: block;
  width: 118px;
  height: 23px;
  border: 1px solid #d3daeb;
  background-color: #fff;
  color: #4f6aaf;
  margin: 104px auto 0;
}
