.userMmanagement {
  width: 100%;
}
.userMmanagement .user_manageBox .superLeft_nav {
  padding-top: 20px;
  border-right: 2px solid #f3f4f8;
  height: 86vh;
}
.userMmanagement .user_manageBox .right_user_manage {
  min-width: 670px;
  padding-left: 10px;
}
.right_user_manage h5 {
  height: 62px;
  line-height: 62px;
  font-size: 18px;
  color: #3b3c40;
}
.right_user_manage .user_info {
  margin-top: 40px;
}
.right_user_manage .user_info .item {
  width: 100%;
  height: 44px;
}
.right_user_manage .user_info .btn_box {
  width: 100%;
  height: 24px;
  margin: 15px 0 10px 0;
}
.item span {
  display: inline-block;
  line-height: 44px;
  font-size: 14px;
}
.item .iLeft {
  width: 160px;
  color: #929295;
  text-align: right;
  margin-right: 35px;
}
.item .iRight {
  color: #3b3c40;
}
.btn_box button {
  margin-left: 192px;
  width: 112px;
  height: 22px;
  font-size: 14px;
  background-color: #fff;
  color: #4f6aaf;
  border: 1px solid #4f6aaf;
  cursor: pointer;
}

/* 重置密码弹窗start */
.update_pwd {
  display: none;
  width: 404px;
  height: 222px;
  padding: 20px 30px;
  position: absolute;
  left: 472px;
  top: 80px;
  background-color: #fff;
  box-shadow: #ccc 3px 3px 15px 3px;
}
.popub_tit {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #4f6aaf;
}
.popub_p {
  width: 338px;
  height: 26px;
  margin: 18px 0 12px 0;
}
.popub_p label {
  display: inline-block;
  width: 68px;
  height: 26px;
  font-size: 14px;
  line-height: 26px;
  color: #48494d;
  text-align: right;
  margin-right: 38px;
}
.popub_p input {
  width: 206px;
  height: 24px;
  padding: 0 10px;
  font-size: 14px;
  color: #48494d;
  border: 1px solid #dcdde2;
  outline: none;
}
.btns {
  text-align: right;
  padding-top: 18px;
}
.btns .close_btn,
.btns .sub_btn {
  display: inline-block;
  width: 69px;
  height: 24px;
  border-width: 1px;
}
.btns .close_btn {
  color: #4f6aaf;
  background-color: #fff;
}
.btns .sub_btn {
  color: #fff;
  background-color: #4f6aaf;
}

/* 重置密码弹窗end */
